<h1>Name: <%= @studio.name %></h1>
<h2>Still Active?: <%= @studio.still_active %></h2>
<h2>Total Games: <%= @game_count %></h2>
<h2>Updated At: <%= @studio.updated_at %></h2>
<h2>Created At: <%= @studio.created_at %></h2>
